body {
    background-color: #EFE7DA;
}

div.tooltip {	
    display: none;
    position: absolute;				
    background: #1B264F;
    width: 300px;
    color: white;			
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;	
}

#slider-step .tick text{
    fill: #9CAEA9;
}

#legend-container .tick text{
    fill: black;
}

.parameter-value .handle {
    fill: #8FA6CB;
}

#tt-country {
    font-weight: bold;
}

.header {
    font-family: 'Playfair Display', 'serif';
}

.header h1{
    font-weight: 800
}

.header h2{
    font-weight: 400;
}

.spinner-border {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-width: 4px;
}

.content {
    opacity: 0;
}