body {
    background-color: #EFE7DA;
}

div.tooltip {	
    display: none;
    position: absolute;				
    background: #1B264F;
    width: 150px;
    color: white;			
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;	
}

#slider-step .tick text{
    fill: #9CAEA9;
}

#legend-container .tick text{
    fill: black;
}

.parameter-value .handle {
    fill: #8FA6CB;
}

#tt-country {
    font-weight: bold;
}

.header {
    font-family: 'Playfair Display', 'serif';
}

.header h1{
    font-weight: 800
}

.header h2{
    font-weight: 400;
}